@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&family=PT+Sans&display=swap');

:root{
    --dark: #2d2b42;
    --light: #adb5bd;   
    --border: #dee2e6;
    --border-btn: #edf2f4;    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

text-gradient{
    background: linear-gradient(to right #2563d4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #daecec;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 3em;
    font-family: 'Barlow', sans-serif;
}

#site-main.container.box-nav>a{
    font-size: 1em;
    padding: 5em 1em;
}

#site-main.container.form{
    margin: 2em 0;
}

table{
border-spacing: 0px;
width: 100%;
}

.table td, .table th{
    vertical-align: top;
    text-align: center;
    border-top: 2px solid var(--border);    
}

.table tr:hover{
background-color: #daecec;
}

/*add user / update user template */

.form-title{
    margin-top: 2em;
}

.form-title>h2{
    padding: 5em 0;
}

.new_user{
    max-width: 786px;
    margin: auto;
}

#appdate_user .form-group,
#add_user .form-group{
    margin: 4em 0;
} 

#appdate_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
width: 100%;
padding: .6em 1em;
margin: 5em 0;
border: 1px solid var(--border)
font-family 'Barlow', sans-serif;
font-size: 1em
}

#appdate_user .form-group .radio,
#add_user .form-group .radio{
    margin: 1em 2em;
}